/* added syle to my h1 tag and updated weathercontainer to get my 5 day forecast on the same row and look how i want it to look */

h1 {
    color: rgb(18, 133, 210);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

.weathercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

